header {
background-color: #191919;
color: #ecebe8;
padding: 30px;
text-align: center;
}

body {
  background-color: #ecede8;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

input {
border-radius: 3px;
border-color: #ecede8;
padding: 5px;
}

.modal-content {
  margin-top: 250px;
}

.button-modal {

  margin-top: 15%;
  text-align: center;
}

#register {
  margin-left: 2%;
  padding: 5%;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 25px;
  background-color: #363636;
  border: none;
}

#connexion {
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  background-color: #363636;
  border: none;
}

#register:hover, #connexion:hover {
  background-color: #B0C4DE;
  color: #191919;
}
